
out(_,M) -> io:format("~p ~n",[M]).

gen_list(_,0) -> [];
gen_list(M,N) -> [rand:uniform(M)|gen_list(M,N-1)].

in(localhost) ->
    in1 ! gen_list(10,10),
    in2 ! gen_list(10,10),
    timer:sleep(1000),
    in(localhost).
