out(Source, {A, B, C}) ->
    io:format("~p: (~p, ~p, ~p)~n", [Source, A, B, C]).

in(localhost) ->
    {A, B, C} = {rand:uniform(9), rand:uniform(9), rand:uniform(9)},
    io:format("Emit (~p, ~p, ~p)~n", [A, B, C]),
    in1 ! A,
    in2 ! B,
    in3 ! C,
    timer:sleep(1000),
    io:format("~n", []),
    in(localhost).
