out() ->
    receive
        {ab, {A, B}, Version} -> 
            io:format("(~p, ~p) @ ~p ~n", [A, B, Version])
    end,
    out().

in() ->
    num ! rand:uniform(10),
    timer:sleep(1000),
    io:format("~n", []),
    in().
