heavyCalc(N) -> 
    timer:sleep(rand:uniform(300)),
    rand:uniform(N).

out(pair, {I,_}) ->
    io:format("~p ~p~n", [I, erlang:system_time()]).

in(localhost) ->
    input ! 1,
    timer:sleep(100),
    %io:format("~n", []),
    in(localhost).
