out() ->
    receive
        {fib, N, Version} -> 
            io:format("~p @ ~p ~n", [N, Version])
    end,
    out().

in() ->
    pulse ! void,
    timer:sleep(1000),
    io:format("~n", []),
    in().
