heavyCalc(N) -> 
    timer:sleep(rand:uniform(1500)),
    rand:uniform(N).

out(pair, X) ->
    io:format("~p~n", [X]).

in(localhost) ->
    input ! 1,
    timer:sleep(1000),
    io:format("~n", []),
    in(localhost).
