out(fan, true) -> io:fwrite("T\n");
out(fan, true) -> io:fwrite("F\n").

in(localhost) ->
    tmp ! rand:uniform() * 5 + 20,
    hmd ! rand:uniform() * 50 + 50,
    timer:sleep(1000),
    in(localhost).
